:root {
    --cor1: rgb(211, 211, 211);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: #fff
}

.TituloPrograma {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--cor2);
    width: 80%;
    margin-top: 30px;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    max-height: 45px;
  }
  
  
  h2 {
    margin-top: 5px;
    color: white;
    font-size: 25px;
    font-family: Cambria;
  }

@media screen and (max-width: 870px) {

    .modalPlanos-content{
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;
}

    .CampoTabelas {
        flex-direction: column;
        align-items: center;
    }

    .CampoColecoes {
        width: 80%;
        min-height: 50vh;
        max-height: 50vh;
        margin-bottom: 10px;
    }

    .CampoLoteProducao {
        width: 80%;
        min-height: 50vh;
        max-height: 50vh;
        margin-bottom: 10px;
    }

    .CampoTipoNota {
        width: 80%;
        min-height: 50vh;
        max-height: 50vh;
        margin-bottom: 10px;
    }

    .CorpoDescricao {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 10px;
        width: 90%;
        justify-content: center;
    }
    
    .CorpoDescricao label {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 10px;
        width: 100px;
        /* Defina uma largura fixa para o label */
    }
    
    .CorpoDescricao input {
    
        border: 2px solid darkgray;
        border-radius: 10px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        width:80%;
        min-height: 25px;
    }

    .modalCurva-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border-radius: 5px;
        width: 95%; /* Use uma largura máxima */
        position: relative;
        z-index: 1;
        min-height: 50%;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        
    }

    
}


@media screen and (min-width: 871px) {

    .modalPlanos-content{
        min-width: 40%;
        max-width: 40%;
        min-height: 50%;
        max-height: 50%;
    }

    .CampoColecoes {
        width: 30%;
        min-height: 50vh;
        max-height: 50vh;
    }

    .CampoTipoNota {
        width: 30%;
        min-height: 50vh;
        max-height: 50vh;
    }

    .CampoLoteProducao {
        width: 30%;
        min-height: 50vh;
        max-height: 50vh;
    }

    .CorpoDescricao {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 10px;
        width: 80%;
        justify-content: center;
    }
    
    .CorpoDescricao label {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 10px;
        width: 100px;
        /* Defina uma largura fixa para o label */
    }
    
    .CorpoDescricao input {
    
        border: 2px solid darkgray;
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        width:55%;
        min-height: 25px;
    }

    .modalCurva-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border-radius: 5px;
        width: 30%; /* Use uma largura máxima */
        position: relative;
        z-index: 1;
        min-height: 40%;
        max-height: 40%; /* Ajuste conforme necessário */
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        
    }
}
.modalPlanos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
  }
  
  .modalPlanos-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin: 10% auto;
    border-radius: 5px;
    position: relative;
    z-index: 1;

    overflow-y: auto;

  }
  
  .modalPlanos-content h3 {
    padding: 20px;
    background-color: var(--cor2);
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    border: 5px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--cor4);
}
  
  
  #botaoSelecionarPlano {
    font-weight: bold;
    background-color: var(--cor2);
    color: white;
    width: 100%;
    margin-top: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
  }

  #BotaoPesquisarPlano{
    font-weight: bold;
    background-color: var(--cor4);
    color: black;
    width: 100%;
    margin-top: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin-top: 40px;
    padding: 10px;
  }
  
  .TesteTabela {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    width: 100%;
    height: 75%;
    overflow-y: auto;
    border: 2px solid black;
  }
  
  #TabelaPlanos {
    border: none;
    border-collapse: collapse;
    width: 100%;
  }
  
  #TabelaPlanos thead {
    position: sticky;
    top: 0;
    background-color: lightgray;
    z-index: 1;
    border: 2px solid darkgray;
    height: 20px;
    max-height: 20px;
  }
  
  #TabelaPlanos td {
    text-align: center;
  }
  

/* Estilos específicos das outras partes do código */
.CorpoGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--cor1);
    width: 80%;
    margin-top: 10px;
    text-align: center;
}

.CorpoCodigo {
    display: flex;
    /* Os elementos dentro desse wrapper ficarão lado a lado */
    align-items: center;
    /* Centraliza verticalmente os elementos dentro do wrapper */
    margin-bottom: 10px;
    /* Espaçamento entre os wrappers */
}

.CorpoCodigo label {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    /* Espaçamento entre o label e o input */
}

.CorpoCodigo input {
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
}

.CorpoCodigo button {
    border: 0;
    margin-left: -20px;
    background-color: white;
    cursor: pointer;
}



.CorpoIntervaloVenda {
    display: flex;
    /* Os elementos dentro desse wrapper ficarão lado a lado */
    align-items: center;
    /* Centraliza verticalmente os elementos dentro do wrapper */
    margin-bottom: 10px;
    /* Espaçamento entre os wrappers */
}

.CorpoIntervaloVenda label {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    /* Espaçamento entre o label e o input */
}

.CorpoIntervaloVenda input {
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#InputDataFim {
    margin-left: 5px;
}

#LabelIntervaloVenda1 {
    margin-right: 5px;
    margin-left: 5px;
}

.CorpoIntervaloFaturamento {
    display: flex;
    /* Os elementos dentro desse wrapper ficarão lado a lado */
    align-items: center;
    /* Centraliza verticalmente os elementos dentro do wrapper */
    margin-bottom: 10px;
    /* Espaçamento entre os wrappers */
}

.CorpoIntervaloFaturamento label {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    /* Espaçamento entre o label e o input */
}

.CorpoIntervaloFaturamento input {
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#InputDataFimFaturamento {
    margin-left: 5px;
}

#LabelIntervaloVendaFaturamento1 {
    margin-right: 5px;
    margin-left: 5px;
}

.fechar1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}

.fechar1:hover,
.fechar1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.Linha {
    min-height: 2px;
    max-height: 2px;
    width: 100%;
    background-color: black;
}

.CampoTabelas {

    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
    display: none;
}


/* Estilo para o container das coleções */
.CampoColecoes,
.CampoTipoNota,
.CampoLoteProducao {
    margin-right: 2%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.DivColecoes,
.DivNotas,
.DivLotes {

    width: 100%;
    flex: 1;
    /* Define a flexibilidade da DivColecoes para que ela ocupe o espaço disponível */
    overflow-y: auto;
}


/* Estilo para o título das coleções */
#LabelColecoes,
#LabelTipoDeNota,
#LabelLote  {
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;

}


#TabelaTipoNota,
#TabelaColecoes,
#TabelaLote {
    margin-top: 0px;
    width: 100%;
    border-collapse: collapse;
}



#TabelaTipoNota thead,
#TabelaColecoes thead,
#TabelaLote thead {
    background-color: var(--cor2);
    padding: 8px;
    color: var(--cor4);
}


#TabelaLote th,
#TabelaTipoNota th,
#TabelaColecoes th {
    padding: 8px;
}

/* Estilo para as células da tabela */
#TabelaTipoNota td,
#TabelaColecoes td,
#TabelaLote td  {
    border-bottom: 1px solid lightgray;
    text-align: center;
}


#PesquisarColecoes,
#PesquisarNota,
#PesquisarLote {
    margin-top: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid darkgray;
    border-radius: 10px;
}



#LixeiraColecoes,
#LixeiraLotes,
#LixeiraNotas {
    color: var(--cor2);
    cursor: pointer;
}

#AdicionarColecao,
#AdicionarNotas,
#AdicionarLotes {
    color: var(--cor2);
    cursor: pointer;
}


.modalColecoesCsw,
.modalNotaCws,
.modalLoteProdCws,
.modalConfigVendas,
.modalMetasSemanais {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}


.modalLoteProdCws-content,
.modalColecoesCsw-content,
.modalNotaCws-content,
.modalConfigVendas-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    position: relative;
    z-index: 1;
    min-height: 50%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
}

.modalMetasSemanais-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    position: relative;
    z-index: 1;
    min-height: 50%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 10px;
}


.modalColecoesCsw-content h3,
.modalNotaCws-content h3,
.modalLoteProdCws-content h3,
.modalConfigVendas-content h3,
.modalMetasSemanais-content h3 {
    padding: 20px;
    background-color: var(--cor2);
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    border: 5px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--cor4);
}


.modalColecoesCsw-content .TabelaColecoes1,
.modalNotaCws-content .TabelaNotas1,
.modalLoteProdCws-content .TabelasLotes1  {
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 100px;
    left: 0;
    width: 100%;
    height: 60%;
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    border: 2px solid black;
}


#TabelaColecoesCsw,
#TabelaNotasCSW,
#TabelaLotesCsw {
    border: none;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    position: absolute;

}


#TabelaColecoesCsw thead,
#TabelaNotasCSW thead,
#TabelaLotesCsw thead {
    position: sticky;
    top: 0;
    background-color: lightgray;
    z-index: 1;
    border: 2px solid darkgray;
    height: 20px;
    max-height: 20px;

}


#TabelaNotasCSW td,
#TabelaColecoesCsw td,
#TabelaLotesCsw td {
    text-align: center;
}


#botaoSelecionarColecao,
#botaoSelecionarNota,
#botaoSelecionarLote {
    font-weight: bold;
    margin-top: 350px;
    border: 2px solid darkgray;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    position: static;
}



#ButtonCriarPlano,
#ButtonEditarPlano,
#ButtonEditarCurvaAbc,
#ButtonEditarCurvaDeVendas {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border: 2px, solid black;
    border-radius: 10px;
    text-align: center;
    width: 70px;
    background-color: var(--cor2);
    color: var(--cor4);
    cursor: pointer;
    margin-bottom: 20px;
    display: none;
}

.BotaoPlano{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.modalCurva {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.modalCurva-content h3 {
    padding: 20px;
    background-color: var(--cor2);
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    border: 5px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--cor4);
    
}

.curvaA{
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.curvaB,
.curvaC,
.curvaC1,
.curvaC2,
.curvaC3,
.BotãoAlterar {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.curvaA label,
.curvaB label,
.curvaC label,
.curvaC1 label,
.curvaC2 label,
.curvaC3 label {
    font-size: 20px;

}

.curvaA input,
.curvaB input,
.curvaC input,
.curvaC1 input,
.curvaC2 input,
.curvaC3 input {
    font-size: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 50px;
    text-align: center;

    
}

.linhadiv{
    margin-top: 10px;
    width: 100%;
    height: 0.1vh;
    background-color: black;
}

.BotãoAlterar button {
    font-size: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: var(--cor2);
    width: 100px;
    cursor: pointer;
}

.BotãoAlterar button:hover{
    font-size: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: var(--cor3);
    width: 100px;
    cursor: pointer;
}



  .PlanosCurvaVenda{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .PlanosCurvaVenda input{
   border: 2px solid darkgray;
   border-radius: 10px;
   width: 30%;
   text-align: center;
   height: 3vh;
  }

  .tabelaMetas{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .tabelaMetas input{
    width: 85%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size:18px;
  }

  
  .MetasTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
  .MetasTable th,
  .MetasTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .MetasTable th {
    background-color: lightgray;
    font-weight: bold;
  }

  .BotaoMetas{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #BotaoSalvarMetas,
  #MetasSemanais{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px, solid black;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 7vh;
    margin-left: 5px;
    background-color: var(--cor2);
    color: var(--cor4);
    cursor: pointer;
  }

  .TabelaMetasSemanais {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
  .TabelaMetasSemanais th,
  .TabelaMetasSemanais td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .TabelaMetasSemanais th {
    background-color: lightgray;
    font-weight: bold;
  }

  .TabelaSemanal{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .TabelaSemanal input{
    width: 85%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size:15px;
  }
