:root {
  --cor1: rgb(211, 211, 211);
  --cor2: rgb(17, 45, 126);
  --cor3: rgb(93, 140, 233);
  --cor4: #fff
}

.TituloPrograma {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--cor2);
  width: 80%;
  margin-top: 30px;
  border: 2px solid var(--cor2);
  border-radius: 10px;
  max-height: 45px;
}

h2 {
  margin-top: 5px;
  color: white;
  font-size: 25px;
  font-family: Cambria;
}

.Menu2 {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--cor2);
  width: 80%;
  margin-top: 20px;
  border: 2px solid var(--cor2);
  border-radius: 10px;
  min-height: 50px;
}

.Menu2 button {
  background-color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: Arial;
  color: var(--cor2);
  margin-top: 9px;
  border: 2px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.Menu2 button:hover {
  background-color: lightgray;
  font-weight: bolder;
  font-size: 20px;
  font-family: Arial;
  color: var(--cor2);
  margin-top: 9px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.ButtonNovo {
  margin-left: 20px;
}

.ButtonEditar {
  margin-left: 2px;
}

.ButtonRemover {
  margin-left: 2px;
}

.ButtonPaginas {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--cor2);
  width: 80%;
  margin-top: 20px;
  border: 2px solid var(--cor2);
  border-radius: 10px;
  min-height: 35px;
  max-height: 35px;
}

.ButtonPaginas button {
  background-color: white;
  font-weight: bolder;
  ;
  margin-top: 0, 5px;
  border: 2px solid lightgray;
  border-radius: 10px;
  cursor: pointer;

}

.ButtonPaginaAnterior {
  margin-left: 2px;
}

.ButtonProximaPagina {
  margin-left: 15px;
}

#LabelContagemPagina {
  color: var(--cor4);
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  font-weight: bolder;
}

#LabelContagemPagina1 {
  color: var(--cor4);
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  font-weight: bolder;
}

.ButtonUltimaPagina {
  margin-left: 2px;
}

.ButtonPaginaAnterior1 {
  margin-left: 2px;
}

.ButtonUltimaPagina1 {
  margin-left: 2px;
}


#ButtonExportarExcel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  text-align: center;

}

#ImagemExcel {
  font-size: 20px;
  /* Ajuste o tamanho da imagem conforme necessário */
  color: green;
}

.modalNovo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}


#Usuário {
  margin-top: 25px;
}

.modalNovo-content Input {
  width: 100%;
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.modalNovo-content button {
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background-color: var(--cor2);
  color: var(--cor4);
  margin-top: 20px;
  cursor: pointer;
  margin-left: 40%;
  margin-right: 40%;
}



.modalNovo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  max-width: 400px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  align-items: center;

}

.modalNovo-content h3 {
  padding: 20px;
  background-color: var(--cor2);
  text-align: center;
  font-size: px;
  font-family: Arial;
  border: 5px;
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--cor4);
}

#Usuario {
  margin-top: 25px;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}

.fechar:hover,
.fechar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.TabelaUsuarios {
  border-collapse: collapse;
  border: 2px solid darkgray;
  margin-left: 10%;
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.TabelaUsuarios th {
  background-color: lightgray;
}

.TabelaUsuarios td {
  background-color: var(--cor4);
}

.ModalEditar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

.ModalEditar-content Input {
  position: relative;
  width: 100%;
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ModalEditar-content button {
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background-color: var(--cor2);
  color: var(--cor4);
  margin-top: 20px;
  cursor: pointer;
}


.ModalEditar-content label {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold
}


.ModalEditar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  max-width: 400px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  align-items: center;
}

.ModalEditar-content h3 {
  padding: 20px;
  background-color: var(--cor2);
  text-align: center;
  font-size: px;
  font-family: Arial;
  border: 5px;
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--cor4);
}


.ModalExcluir {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

#Usuário {
  margin-top: 25px;
}

.ModalExcluir-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  max-width: 400px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  align-items: center;
}

.ModalExcluir-content h3 {
  padding: 20px;
  background-color: var(--cor2);
  text-align: center;
  font-size: px;
  font-family: Arial;
  border: 5px;
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--cor4);
}

.ModalExcluir-content label {
  display: block;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.ModalExcluir-content button {
  font-size: 25px;
  font-family: Arial;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: var(--cor2);
  color: var(--cor4);
  margin-right: 10px;
  cursor: pointer;
}

.TabelaContainer {
  border-collapse: collapse;
  border: 2px solid darkgray;
  margin-left: 10%;
  width: 80%;
  max-width: 1550px;
  min-height: 600px;
  max-height: 650px;
  text-align: center;
  margin-top: 10px;
  overflow: auto;
}

.TabelaContainer .TabelaEstrutura {
  font-size: 15px;
  border-collapse: collapse;
  border: 2px solid darkgray;
  min-width: 2000px;
  overflow: auto;
}

.TabelaContainer .TabelaEstrutura th {
  background-color: lightgray;
  max-height: 20px;
}

.TabelaContainer .TabelaEstrutura td {
  height: 40px;
  /* Defina a altura desejada em pixels */
  vertical-align: middle;
  /* Centraliza o conteúdo verticalmente */
  overflow: hidden;
  /* Oculta o conteúdo extra que ultrapassar a altura definida */
}

.TabelaContainer .TabelaEstrutura thead {
  position: sticky;
  top: 0;
  background-color: lightgray;
  z-index: 1;
  border: 2px solid darkgray;
}


#loader {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.ModalLoading {
  display: none;
  /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo escuro semi-transparente */
}

#loader1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.ModalLoading1 {
  display: none;
  /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo escuro semi-transparente */
}


#TabelaEstrutura thead input {
  max-height: 20px;
  width: 80%;
  padding: 5px;
  border: black solid 2px;
  border-radius: 10px;
}

#ContainerOculto Label {

  color: white;
}

@media screen and (max-width: 870px) {

  .modalSelecionarPlano-content{
  min-width: 80%;
  max-width: 80%;
  min-height: 80%;
  max-height: 80%;
}}

@media screen and (min-width: 871px) {

  .modalSelecionarPlano-content{
      min-width: 40%;
      max-width: 40%;
      min-height: 50%;
      max-height: 50%;
  }}

.modalSelecionarPlano {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

.modalSelecionarPlano-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  overflow-y: auto;

}

.modalSelecionarPlano-content h3 {
  padding: 20px;
  background-color: var(--cor2);
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  border: 5px;
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--cor4);
}


#botaoSelecionarPlano2 {
  font-weight: bold;
  background-color: var(--cor2);
  color: white;
  width: 100%;
  margin-top: 20px;
  border: 2px solid darkgray;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

#PesquisarPlano1{
  font-weight: bold;
  background-color: var(--cor4);
  color: black;
  width: 100%;
  margin-top: 20px;
  border: 2px solid darkgray;
  border-radius: 10px;
  margin-top: 40px;
  padding: 10px;
}

.TabelaPlanos1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  width: 100%;
  height: 75%;
  overflow-y: auto;
  border: 2px solid black;
}

#TabelaPlanos2 {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

#TabelaPlanos2 thead {
  position: sticky;
  top: 0;
  background-color: lightgray;
  z-index: 1;
  border: 2px solid darkgray;
  height: 20px;
  max-height: 20px;
}

#TabelaPlanos2 td {
  text-align: center;
}