<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAL PCP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='TelaLoginEstilo.css') }}">
</head>
<body>
    <div class="mydiv" id="TelaLogin">
        <label for="login" class="LabelLogin">Login:</label>
        <input type="text" id="usuario" class="campoUsuario" onkeydown="checkEnter(event, 'password')" placeholder="Usuário">
        <script>
            window.onload = function() {
              document.getElementById('usuario').focus();
            };
          </script>
        <input type="password" id="password" class="campoPassword" onkeydown="Usuarios()" placeholder="Senha">
        <button id="btnAcesso" class="btnAcesso" onclick="Usuarios()">Acessar</button>
    </div>
    <script src="{{ url_for('static', filename='TelaLoginJava.js') }}"></script>
</body>
</html>