<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAL PCP</title>
    <link rel="stylesheet" href="/static/css/TelaPrincipal.css"/>


</head>
<body>
 <div class="Titulo">
        <a href="TelaPrincipal.html">
        <img src="/static/imagens/iconeMpl.jpg" alt="" >
        </a>
        <h1>PPCP - Planejamento, Programação e Controle da Produção</h1>
    </div>
<iframe title="NOVA VERSAO.3.2(Backup)" width="1500" height="600.25"
        src="https://app.powerbi.com/reportEmbed?reportId=d2601b35-bbd2-4c00-a8f1-749ad14e81ca&autoAuth=true&embeddedDemo=false" frameborder="0" allowFullScreen="false"></iframe>
</body>
</html>