<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAL PCP</title>
    <link rel="stylesheet" href="/static/css/TelaPrincipal.css"/>
    <link rel="stylesheet" href="/static/css/TelaUsuarios.css"/>
    <link rel="stylesheet" href="/static/css/TelaCurva.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="Titulo">
        <a href="/TelaPrincipal">
        <img src="/static/imagens/iconeMpl.jpg" alt="" >
        </a>
        <h1>PPCP - Planejamento, Programação e Controle da Produção</h1>
    </div>
    <div class="Corpo">
        <nav class="Menu">
            <ul>
                <li><a href="TelaPrincipal.html">Home</a></li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="TelaUsuarios.html">Gerenciamento de Usuários</a></li>
                    </ul>
                </li>
                <li><a href="#">Plano de Produção</a>
                    <ul>
                        <li><a href="TelaPlano.html">Gerenciamento de Plano de Produção</a></li>
                    </ul>
                </li>
                <li><a href="#">Relatórios</a>
                    <ul>
                        <li><a href="TelaEstrutura.html">Estrutura De Produtos</a></li>
                        <li><a href="TelaCurva">Curva ABC</a></li>
                    </ul>
                </li>
                <li><a href="#" id="NomeUsuario"></a>
                    <ul>
                        <li><a href="#">Alterar Senha</a></li>
                        <li><a id="BotaoSair" href="index.html">Sair </a></li>
                    </ul>
                </li>

            </ul>
            
        </nav>
    </div>  
    <div class="TituloPrograma">
        <h2>Curva ABC</h2></div>


        <div class="CampoPesquisaCurva">
            <label id="LabelPesquisaCurva" for="InputCodPlanoCurva">Código Plano:</label>
            <div class="InputContainerCurva">
                <input type="text" id="InputCodPlanoCurva">
                <button id="ButtonPesquisaPlanoCurva"><i class="bi bi-search"></i></button>
            </div>
        </div>

    <div class="TabelaContainerCurva">
    <table border="2" class="TabelaCurva" id="TabelaCurva">
    </table>
    </div>

    <div class="PaginamentoCurva">
        <button type="button" class="ButtonPrimeiraPaginaCurva" id="ButtonPrimeiraPaginaCurva" title="Primeira Página" >
            <i class="bi bi-rewind-btn-fill botao-icon"></i>
        </button>

        <button type="button" class="ButtonPaginaAnteriorCurva" id="ButtonPaginaAnteriorCurva" title="Página Anterior">
            <i class="bi bi-caret-left-square-fill"></i>
            
        </button>

        <label for="LabelContagemPagina" class="LabelContagemCurva" id="LabelContagemCurva"></label>

        <button type="button" class="ButtonProximaPaginaCurva" id="ButtonProximaPaginaCurva" title="Próxima Página">
            <i class="bi bi-caret-right-square-fill"></i>
        </button>

        <button type="button" class="ButtonUltimaPaginaCurva" id="ButtonUltimaPaginaCurva" title="Última Página">
            <i class="bi bi-fast-forward-btn-fill"></i>
        </button>

        <button type="button" class="ButtonExportarExcelCurva" id="ButtonExportarExcelCurva" title="Exportar para Excel" >
            <i id="ImagemExcel" class="bi bi-file-earmark-spreadsheet-fill"></i>
        </button>
        </div>

    <div id="ModalLoadingCurva" class="ModalLoadingCurva">
         <span id="loaderCurva"><img src="/static/imagens/IconeLoading.gif" style="width: 80px; height: 80px;" id="ImagemLoading">
        </span>
    </div>


      <div id="modalSelecionarPlano" class="modalSelecionarPlano">
        <div class="modalSelecionarPlano-content">
            <span id="fecharModalSelecaoPlanos" class="fecharmodalCurva">&times;</span>
            <h3>Seleção de Planos</h3>
            <input id="PesquisarPlano1" type="search" placeholder="Digite sua Busca!">
            <div class="TabelaPlanos1" div>
                <table border="2" id="TabelaPlanos2"></table>
            </div>
            <button id="botaoSelecionarPlano2">Selecionar</button>
        </div>
    </div>

    <footer class="Rodape">
    <p>Grupo Mpl</p>
    </footer>

    <div id="ContainerOcultoCurva" class="ContainerOcultoCurva">
        <label for="text" id="LabelEngenhariaCurva"></label>
        <label for="text" id="LabelDescricaoCurva"></label>
        <label for="text" id="LabelCategoriaCurva"></label>
        <label for="text" id="LabelMarcaCurva"></label>
    </div>
</div>

<script>
    const nomeUsuario = localStorage.getItem('nomeUsuario');
   document.getElementById("NomeUsuario").textContent = nomeUsuario
</script>

</body>
<script src="/static/js/FuncoesUsuarios.js"></script>
<script src="/static/js/FuncoesCurva.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</html>
